<p>ng-if works!</p>

<!-- <h2 *ngIf="displayName">
    Welcome Abanoub
</h2> -->

<!-- <h2 *ngIf="displayName else elseBlock">
    Welcome Abanoub
</h2>

<ng-template #elseBlock>
    <h2>
        Welcome Guest
    </h2>
</ng-template> -->

<!-- <div *ngIf="displayName ; then thenBlock; else elseBlock">

</div>


<ng-template #thenBlock>
    <h2>Welcome Abanoub</h2>
</ng-template>

<ng-template #elseBlock>
    <h2>Welcome Guest</h2>
</ng-template> -->

<h2 *ngIf="totalCount > 40">
    {{totalCount}}
</h2>



